nav.navbar{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    h2 {
        color: $light;
    }
}
a:hover{
    text-decoration: none
}
.header__banner{
    background: url(../images/banner_2.jpg) center center no-repeat;
    background-size: cover;
    height: 20rem;
    justify-content: center;
    h3{
        justify-content: center;
        align-items: center;
        color: $light;
    }
}
.header__banner-sub{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header__banner-search{
    height: 50px;
    border-radius: 50px;
    padding: 20px;
    border-color: transparent
}